/*****************/
/* Bellow 1344px */
/*****************/

@media (max-width: 84em) {
  .heading-primary {
    font-size: 4.4rem;
  }

  .heading-secondary,
  .cta-text-box .heading-secondary {
    font-size: 3.2rem;
  }

  .plans {
    gap: 2.4rem;
  }

  .plan-icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .cta-img-box {
    background-position: left;
  }
}

/*****************/
/* Bellow 1088px */
/*****************/

@media (max-width: 68em) {
  html {
    font-size: 56.25%;
  }

  .main-nav-list {
    gap: 2.4rem;
  }

  .plan-item {
    font-size: 1.6rem;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-text-box .heading-secondary {
    font-size: 3rem;
  }
}

/****************/
/* Bellow 896px */
/****************/

@media (max-width: 56em) {
  /* Nav display change */
  .main-nav {
    position: relative;
  }

  .main-nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.9rem;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4.8rem 2rem;
    width: 24rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .main-nav-list li:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  .menu-toggle {
    display: block;
    background-color: #036;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .main-nav.open .main-nav-list {
    display: flex;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  /* rest of the page */
  html {
    font-size: 50%;
  }

  .heading-primary {
    font-size: 3.2rem;
  }

  .heading-secondary,
  .cta-text-box .heading-secondary {
    font-size: 2.4rem;
  }

  .heading-tertiary {
    font-size: 2rem;
  }
  .subheading {
    font-size: 1.4rem;
  }

  .testimonial-name {
    font-size: 1.2rem;
  }

  .plans {
    grid-template-columns: repeat(2, auto);
    gap: 3.2rem;
  }

  .standard-plan {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  .premium-plan {
    padding: 4.8rem;
  }
}

/****************/
/* Bellow 640px */
/****************/

@media (max-width: 40em) {
  .main-header {
    padding: 0 2.4rem;
  }

  .hero-subheading {
    font-size: 1.8rem;
  }

  .heading-secondary,
  .cta-text-box .heading-secondary {
    font-size: 2rem;
  }

  .heading-tertiary {
    font-size: 1.8rem;
  }

  .benifit-description,
  .step-description,
  .testimonial-text,
  .form-description {
    font-size: 1.6rem;
  }

  .benifits-container,
  .steps-list,
  .testimonials,
  .cta-container {
    grid-template-columns: 1fr;
  }

  .steps-list {
    row-gap: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/****************/
/* Bellow 544px */
/****************/
@media (max-width: 34em) {
  .hero {
    text-align: center;
  }

  .plans {
    grid-template-columns: 1fr;
  }

  .standard-plan {
    grid-row: 2;
  }
}

/****************/
/* Bellow 464px */
/****************/
@media (max-width: 29em) {
  .logo {
    font-size: 3rem;
  }

  .main-nav-list {
    width: 160px;
  }

  section {
    padding: 4.8rem 3.2rem !important;
  }

  .section-hero {
    gap: 4.8rem;
  }

  .heading-secondary,
  .cta-text-box .heading-secondary {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .heading-tertiary {
    font-size: 1.8rem;
  }

  .testimonial-name,
  .subheading {
    font-size: 1.6rem;
  }

  .benifit-description,
  .step-description,
  .testimonial-text,
  .form-description {
    font-size: 1.6rem;
  }

  .testimonials {
    row-gap: 3.2rem;
  }

  .social-proof {
    flex-direction: column;
    margin-top: 6rem;
  }

  .proof-text {
    font-size: 1.4rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .or-divider {
    display: flex;
  }

  .footer-container {
    column-gap: 3.2rem;
  }
}
